.light-background {
    background-color: #FFF; /* Light gray background */
    color: #FFF; /* Dark text color for contrast */
  }
  
  /* This will ensure that the sidebar stacks on top of the chat area on smaller screens */
@media (max-width: 767px) {
  .chat-box {
    max-height: 200px;
    overflow-y: auto;
  }
}
/* MessagingStyles.css */
/* In your component's CSS file */
.username-large {
  font-size: 0.9rem; /* or any size you prefer */
}
.centered-heading {
  text-align: center;
}


.user-container {
  height: 400px;
  overflow-y: scroll;
}

.message-container {
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.sender-message {
  background-color: #d1ecf1;
  margin-left: auto;
  border-bottom-right-radius: 0;
}

.receiver-message {
  background-color: #e2e3e5;
  margin-right: auto;
  border-bottom-left-radius: 0;
}
.message-outgoing {
  background-color: #dcf8c6; /* Light green background for outgoing messages */
  /* Additional styles for outgoing messages */
}

.message-incoming {
  background-color: #ffffff; /* White or a different color for incoming messages */
  /* Additional styles for incoming messages */
}

.message-outgoing, .message-incoming {
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 8px;
  display: inline-block;
  max-width: 80%;
}

.message-outgoing {
  background-color: #dcf8c6; /* Light green background for outgoing messages */
  float: right; /* Align to the right */
  /* Additional styles for outgoing messages */
}

.message-incoming {
  background-color: #ffffff; /* White or a different color for incoming messages */
  float: left; /* Align to the left */
  /* Additional styles for incoming messages */
}
.chat-box::after {
  content: "";
  display: table;
  clear: both;
}


/* MessagingStyles.css */

.no-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6c757d; /* Bootstrap's text-muted color */
}
/* Assuming you have a CSS file where you can write this */
.custom-icon {
  color: #FFF; /* Sets the color to white */
  font-size: 1.5rem; /* Sets the font size to 1.5 times the size of the default font */
}

.notification-modal .modal-body {
  background-color: #f7f7f7;
  max-height: 300px;
  overflow-y: auto;
}

.notification-item {
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.notification-item .notification-message {
  font-weight: bold; /* Make the message bold */
}

.notification-item .notification-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd; /* Separator for details */
  font-size: 0.85rem; /* Smaller font size for details */
}

.notification-modal .modal-header,
.notification-modal .modal-footer {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

